<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Solus Project</title>
    <link rel="icon" type="image/svg" href="assets/logo.svg">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SolusID</title>
    <meta name="title" content="The Solus Project">
    <meta name="description"
        content="The Solus Project is an organization designed to protect and provide support for kids and sexual assault victims.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://solusproject.org">
    <meta property="og:title" content="The Solus Project">
    <meta property="og:description"
        content="The Solus Project is an organization designed to protect and provide support for kids and sexual assault victims.">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://solusproject.org">
    <meta property="twitter:title" content="The Solus Project">
    <meta property="twitter:description"
        content="The Solus Project is an organization designed to protect and provide support for kids and sexual assault victims.">
</head>
<header class="bg-white shadow-sm w-full fixed z-10  top-0 ">
    <div class="max-auto  px-8 py-2 bg-white">
        <div class="flex justify-between">
            <div class="logo flex items-center space-x-4 mr-10">
                <img class="h-8" src="https://www.gstatic.com/analytics-suite/header/suite/v2/ic_data_studio.svg"
                    alt="">

                <h1 class="text-gray-600 text-2xl">SolusID</h1>
                <a class="absolute right-4 flex items-center bg-blue-500 justify-center w-8 h-8 mx-2 p-5 text-white rounded-lg w-auto"
                    href="myid">Your ID</a>
            </div>
        </div>
    </div>
</header>

<div class="grid grid-cols-12 mt-20">
    <aside class="col-span-4 bg-white h-screen py-5  w-60">

        <div class="bg-blue-50 mr-50 rounded rounded-r-3xl pl-6 py-3 font-semibold">
            <button class="text-blue-500 text-sm font-semibold flex items-center  focus:outline-none">
                About User
            </button>
        </div>

        <hr class="my-2">
        </hr>
        <div class="mt-1  mr-50 rounded rounded-r-3xl pl-6 py-3 font-semibold">
        </div>
    </aside>
    <!-- Main Page -->
    <div class="col-span-4 absolute px-4  w-full pr-10">
        <div class="bg-white ml-64  mt-5">
            <div class="flex space-x-12">
                <div class="flex">
                </div>
            </div>
            <hr class="my-5">
            </hr>

        </div>
    </div>
</div>